@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --Tomato: hsl(4, 100%, 67%);
  --dark-slate-Ggrey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-slate-Ggrey);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.white-container {
  display: flex;
  background-color: var(--White);
  border-radius: 2rem;
  width: 800px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

/* ------------- R-Side ----------------- */

.r-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.2rem 1.5rem 2.2rem 2.2rem;
  flex: 1;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: var(--dark-slate-Ggrey);
  font-size: 3rem;
}

.sub-title {
  font-size: 0.9rem;
}

.postive-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 0.6rem;
}

.info {
  display: flex;
  align-items: center;
}

.p-positive {
  font-size: 0.9rem;
}

.positive-icon {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding-right: 2.2rem;
  margin-top: 1.5rem;
}

.label-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.valid-email {
  color: var(--Tomato);
  font-size: 0.7rem;
  display: none;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--grey);
  margin: 0.5rem 0 0.7rem 0;
  padding: 1.2rem;
}

.error {
  background-color: hsl(4, 100%, 67%, 0.2);
  border: 0.1rem solid var(--Tomato);
  color: var(--Tomato);
}

.sub-btn {
  background-color: var(--dark-slate-Ggrey);
  width: 100%;
  color: var(--White);
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.8rem;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sub-btn:hover {
  background: rgb(255, 103, 251);
  background: linear-gradient(
    90deg,
    rgba(255, 103, 251, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 125, 69, 1) 100%
  );
}

/* ------------- L-Side ----------------- */

.l-side {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.image {
  width: 85%;
}

/* ------------- Sucess ----------------- */

#sucess {
  display: none;
}

.svg-2 {
  width: 50px;
}

span {
  font-weight: bold;
}

.sucess-container {
  padding: 2rem;
  background-color: var(--White);
  width: 400px;
  border-radius: 2rem;
}

.sub-thanks {
  line-height: 35pt;
  margin-top: 1.5rem;
}

.p-success {
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
}

.dimiss {
  margin-top: 2rem;
}

/* ------------- FOOTER ------------- */

footer {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: var(--Tomato);
}

a:hover {
  color: var(--grey);
}

.attribution {
  color: var(--White);
}

/* --------------- Mobile --------------- */

@media only screen and (max-width: 400px) {
  body {
    background-color: var(--White);
    overflow: scroll;
  }

  .white-container {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }

  .image {
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 2.5rem;
  }

  .sucess-container {
    height: 100vh;
    width: 100%;
  }

  .conf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .sub-btn {
    align-items: end;
  }

  footer {
    display: none;
  }
}
